page {


  .bg-color {
    background: linear-gradient(180deg, #1F3FBA 0%, #477AEA 55%);
  }

  .bg-form-color {
    background: linear-gradient(180deg, #D0E2FF 0%, #FFFFFF 100%);
  }

  .nut-form-item-body-tips {
    position: absolute;
    bottom: -18px;
    left: 0;
  }

  .nut-cell-group-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .nut-cell {
      &:last-child {
        padding: 0;
        margin-top: 16px;
      }
    }
  }

  //--nutui-cell-group-wrap-margin: 0 0;
  --nutui-cell-group-background-color: rgba(255, 255, 255, 0);
  //--nutui-cell-background-color: rgba(255, 255, 255, 0);
  --nutui-form-item-label-width: 0px;
}
